.form-area {
  text-align: center;
}

.form-area h1{
    font-size: 36px; 
    margin-top: 50px;
    margin-bottom: 80px;
  }

.common-form {
  display: flex;
  flex-direction: column;
  width: 300px;
  margin: auto;
}

.form-input {
  height: 35px;
  margin-bottom: 20px;
  border: 1px solid black;
  padding-left: 15px;
  font-size: 16px; 
}

.form-button {
  height: 45px;
  border: 1px solid black;
  cursor: pointer;
  font-size: 18px; 
}

.loginError{
  color: red;
}