<!-- login.component.html -->
<div class="form-area">
  <h1>Login</h1>
  <p>{{loginError}}</p>
  <form
    #userSignIn="ngForm"
    (ngSubmit)="login(userSignIn.value)"
    class="common-form"
  >
    <input
      type="text"
      class="form-input"
      name="username"
      placeholder="Username"
      required="required"
      ngModel
    />
    <input
      type="password"
      class="form-input"
      name="password"
      placeholder="Password"
      required="required"
      ngModel
    />
    <button class="form-button" type="submit">Log In</button>
  </form>
</div>
