<!-- register.component.html -->
<div class="form-area">
  <h1>Registro de Usuario</h1>
  <form
    #userSignUp="ngForm"
    (ngSubmit)="signUp(userSignUp.value)"
    class="common-form"
  >
    <input
      type="text"
      class="form-input"
      name="username"
      placeholder="Username"
      required="required"
      ngModel
    />
    <input
      type="password"
      class="form-input"
      name="password"
      placeholder="Password"
      required="required"
      ngModel
    />
    <button class="form-button" type="submit">Registrarse</button>
  </form>
</div>
