<div class="listado_objetos">
    <div *ngIf="fingerprints">
        <h1>Fingerprints de la cerradura</h1>
        <div class="display_objeto" *ngFor="let fingerprint of fingerprints">
            <button class="titulo" (click)="ambasFunciones(fingerprint)">
                <div *ngIf="fingerprint.fingerprintName">
                    {{fingerprint.fingerprintName}}
                </div>
                <div *ngIf="!fingerprint.fingerprintName">
                    fingerprint sin nombre
                </div>
            </button>
            <div *ngIf="displayInfo && selectedFingerprint===fingerprint">
                <p *ngIf="fingerprint.fingerprintType == 1">Tipo de la fingerprint: Permanente</p>
                <p *ngIf="fingerprint.fingerprintType == 4">Tipo de la fingerprint: Recurring</p>
                <p>Creación de la fingerprint: {{ fingerprint.createDate | date: 'yyyy-MM-dd HH:mm' }}</p>
                <button (click)="borrarFingerprint(fingerprint.fingerprintId)">Borrar Fingerprint</button>
                <button (click)="toggleEditarNombre()">Editar Nombre</button>
                <button (click)="toggleEditarPeriodo()">Editar Periodo de validación de la Fingerprint</button>
                <div *ngIf="displayEditarNombre">
                    <div class="form-area">
                        <form #editNameFinger="ngForm" (ngSubmit)="cambiarNombre(fingerprint.fingerprintId, editNameFinger.value)" class="common-form">
                            <p>
                                Nombre de la Fingerprint
                                <input type="text" class="form-input" name="fingerprintName" required="required" ngModel>
                                <button class="form-button" type="submit">Guardar Cambios</button>
                            </p>
                        </form>
                    </div>
                </div>
                <div *ngIf="displayEditarPeriodo">
                    <div class="form-area">
                        <form #editPeriodFinger="ngForm" (ngSubmit)="cambiarPeriodo(fingerprint.fingerprintId, editPeriodFinger.value)" class="common-form">
                            <p>
                                Start Time de la Fingerprint
                                <input type="text" class="form-input" name="fingerprintStartTime" placeholder="YYYY-MM-DD-HH" required="required" ngModel>
                            </p>
                            <p>
                                End Time de la Fingerprint
                                <input type="text" class="form-input" name="fingerprintEndTime" placeholder="YYYY-MM-DD-HH" required="required" ngModel>
                            </p>
                            <button class="form-button" type="submit">Guardar Cambios</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
