<div id="container" *ngIf="popupService.confirmRegister">
    <div id="header">
        Gracias por registrarse en nuestra plataforma
    </div>
    <div id="content">
        {{ popupService.welcomingMessage }}
    </div>
    <div id="actions">
        <button (click)="navigateToLogin()">Iniciar Sesión</button>
    </div>
</div>

<div id="container" *ngIf="popupService.confirmDelete">
    <div id="header">
        Por favor confirme sus acciones
    </div>
    <div id="content">
        ¿Está seguro que desea eliminar esta {{popupService.elementType}}?
    </div>
    <div id="actions">
        <button class="cancel" (click)="popupService.confirmDelete = false">No</button>
        <button (click)="delete()">Si</button>
    </div>
</div>

<div id="container" *ngIf="popupService.cambiarNombre">
    <div id="header">
        Actualizar {{popupService.elementType}}
    </div>
    <div id="content">
        <div class="form-area">
            <form #editName="ngForm" (ngSubmit)="cambiarNombre(editName.value)" class="common-form">
                <p>
                    Nombre 
                    <input type="text" class="form-input" name="name" placeholder="..." required="" ngModel />
                </p>
                <div id="actions">
                    <button class="cancel" (click)="popupService.cambiarNombre = false">Volver</button>
                    <button type="submit">Guardar</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div id="container" *ngIf="popupService.cambiarPeriodo">
    <div id="header">
        Actualizar {{popupService.elementType}}
    </div>
    <div id="content">
        <div class="form-area">
            <form #editPeriod="ngForm" (ngSubmit)="cambiarPeriodo(editPeriod.value)" class="common-form">
                <p>
                    Fecha de inicio
                    <mat-form-field appearance="fill">
                        <mat-label>Fecha</mat-label>
                        <input matInput [matDatepicker]="startDatePicker" name="startDate" placeholder="YYYY-MM-DD" required="required" ngModel>
                        <mat-datepicker-toggle matSuffix [for]="startDatePicker"></mat-datepicker-toggle>
                        <mat-datepicker #startDatePicker></mat-datepicker>
                    </mat-form-field>

                    Hora de inicio
                    <mat-form-field appearance="fill">
                        <mat-label>Hora</mat-label>
                        <input matInput [ngxTimepicker]="startTimePicker" name="startHour" placeholder="HH:mm" required="required" [format]="24" ngModel>
                    </mat-form-field>
                    <ngx-material-timepicker #startTimePicker [hoursOnly]="true"></ngx-material-timepicker>
                </p>
                <p>
                    Fecha de finalización
                    <mat-form-field appearance="fill">
                        <mat-label>Fecha</mat-label>
                        <input matInput [matDatepicker]="endDatePicker" name="endDate" placeholder="YYYY-MM-DD" required="required" ngModel>
                        <mat-datepicker-toggle matSuffix [for]="endDatePicker"></mat-datepicker-toggle>
                        <mat-datepicker #endDatePicker></mat-datepicker>
                    </mat-form-field>

                    Hora de finalización
                    <mat-form-field appearance="fill">
                        <mat-label>Hora</mat-label>
                        <input matInput [ngxTimepicker]="endTimePicker" name="endHour" placeholder="HH:mm" required="required" [format]="24" ngModel>
                    </mat-form-field>
                    <ngx-material-timepicker #endTimePicker [hoursOnly]="true"></ngx-material-timepicker>
                </p>
                <div id="actions">
                    <button class="cancel" (click)="popupService.cambiarPeriodo = false">Volver</button>
                    <button type="submit">Guardar</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div id="container" *ngIf="popupService.editarPasscode">
    <div id="header">
        Actualizar {{popupService.elementType}}
    </div>
    <div id="content">
        <div class="form-area">
            <form #editPasscode="ngForm" (ngSubmit)="editarPasscode(editPasscode.value)" class="common-form">
                <p>
                    Nombre de la Passcode
                    <input type="text" class="form-input" name="name" placeholder="..." ngModel />
                </p>
                <p>
                    Password de la Passcode
                    <input type="password" class="form-input" name="passcodePwd" placeholder="..." required ngModel />
                 </p>
                <p *ngIf="popupService.passcode.keyboardPwdType != 2">
                    Fecha de inicio
                    <mat-form-field appearance="fill">
                        <mat-label>Fecha</mat-label>
                        <input matInput [matDatepicker]="startDatePicker" name="startDate" placeholder="YYYY-MM-DD" required="required" ngModel>
                        <mat-datepicker-toggle matSuffix [for]="startDatePicker"></mat-datepicker-toggle>
                        <mat-datepicker #startDatePicker></mat-datepicker>
                    </mat-form-field>

                    Hora de inicio
                    <mat-form-field appearance="fill">
                        <mat-label>Hora</mat-label>
                        <input matInput [ngxTimepicker]="startTimePicker" name="startHour" placeholder="HH:mm" required="required" [format]="24" ngModel>
                    </mat-form-field>
                    <ngx-material-timepicker #startTimePicker [hoursOnly]="true"></ngx-material-timepicker>
                </p>
                <p *ngIf="popupService.passcode.keyboardPwdType != 2">
                    Fecha de finalización
                    <mat-form-field appearance="fill">
                        <mat-label>Fecha</mat-label>
                        <input matInput [matDatepicker]="endDatePicker" name="endDate" placeholder="YYYY-MM-DD" required="required" ngModel>
                        <mat-datepicker-toggle matSuffix [for]="endDatePicker"></mat-datepicker-toggle>
                        <mat-datepicker #endDatePicker></mat-datepicker>
                    </mat-form-field>

                    Hora de finalización
                    <mat-form-field appearance="fill">
                        <mat-label>Hora</mat-label>
                        <input matInput [ngxTimepicker]="endTimePicker" name="endHour" placeholder="HH:mm" required="required" [format]="24" ngModel>
                    </mat-form-field>
                    <ngx-material-timepicker #endTimePicker [hoursOnly]="true"></ngx-material-timepicker>
                </p>
                <div id="actions">
                    <button class="cancel" (click)="popupService.editarPasscode= false">Volver</button>
                    <button type="submit">Guardar</button>
                </div>
            </form>
        </div>
    </div>
</div>