<div id="container" *ngIf="popupService.confirmRegister">
    <div id="header">
        Gracias por registrarse en nuestra plataforma
    </div>
    <div id="content">
        {{ popupService.welcomingMessage }}
    </div>
    <div id="actions">
        <button (click)="navigateToLogin()">Iniciar Sesión</button>
    </div>
</div>

<div id="container" *ngIf="popupService.confirmDelete">
    <div id="header">
        Por favor confirme sus acciones
    </div>
    <div id="content">
        ¿Está seguro que desea eliminar esta {{popupService.elementType}}?
    </div>
    <div id="actions">
        <button class="cancel" (click)="popupService.confirmDelete = false">No</button>
        <button (click)="delete()">Si</button>
    </div>
</div>

<div id="container" *ngIf="popupService.cambiarNombre">
    <div id="header">
        Actualizar {{popupService.elementType}}
    </div>
    <div id="content">
        <div class="form-area">
            <form #editName="ngForm" (ngSubmit)="cambiarNombre(editName.value)" class="common-form">
                <p>
                    Nombre 
                    <input type="text" class="form-input" name="name" placeholder="Nuevo nombre" required="" ngModel />
                </p>
                <button class="cancel" (click)="popupService.cambiarNombre = false">Volver</button>
                <button class="form-button" type="submit">Guardar Cambios</button>
            </form>
        </div>
    </div>
    <div id="actions">
    </div>
</div>

<div id="container" *ngIf="popupService.cambiarPeriodo">
    <div id="header">
        Actualizar {{popupService.elementType}}
    </div>
    <div id="content">
        <div class="form-area">
            <form #editPeriod="ngForm" (ngSubmit)="cambiarPeriodo(editPeriod.value)" class="common-form">
                <p>
                    Start Time 
                    <input type="text" class="form-input" name="startTime" placeholder="YYYY-MM-DD-HH" required="" ngModel />
                </p>
                <p>
                    End Time 
                    <input type="text" class="form-input" name="endTime" placeholder="YYYY-MM-DD-HH" required="" ngModel />
                </p>
                <button class="cancel" (click)="popupService.cambiarPeriodo = false">Volver</button>
                <button class="form-button" type="submit">Guardar Cambios</button>
            </form>
        </div>
    </div>
    <div id="actions">
    </div>
</div>

<div id="container" *ngIf="popupService.editarPasscode">
    <div id="header">
        Actualizar {{popupService.elementType}}
    </div>
    <div id="content">
        <div class="form-area">
            <form #editPasscode="ngForm" (ngSubmit)="editarPasscode(editPasscode.value)" class="common-form">
                <p>
                    Nombre de la Passcode
                    <input type="text" class="form-input" name="name" placeholder="Enter the new name for this Passcode" ngModel />
                </p>
                <p>
                    Password de la Passcode
                    <input type="password" class="form-input" name="passcodePwd" placeholder="Enter the new password for this Passcode" required ngModel />
                 </p>
                <p *ngIf="popupService.passcode.keyboardPwdType != 2">
                    Start Time de la Passcode
                    <input type="text" class="form-input" name="startTime" placeholder="YYYY-MM-DD-HH" ngModel />
                </p>
                <p *ngIf="popupService.passcode.keyboardPwdType != 2">
                    End Time de la Passcode
                    <input type="text" class="form-input" name="endTime" placeholder="YYYY-MM-DD-HH" ngModel />
                </p>
                <button class="cancel" (click)="popupService.editarPasscode= false">Volver</button>
                <button class="form-button" type="submit">Guardar Cambios</button>
            </form>
        </div>
    </div>
    <div id="actions">
    </div>
</div>