<div class="form-area">
    <form #formInput="ngForm" (ngSubmit)="validarNuevaPass(formInput.value)" class="common-form">
        <p>
            Nombre de la Passcode
            <input type="text" class="form-input" name="name" placeholder="..." ngModel/>
        </p>
        <p>
            Tipo de contraseña
            <select #types name="passcodeType" (change)="onSelected(types.value)" ngModel>
                <option default value="">No seleccionado</option>
                <option value="1">One-time</option>
                <option value="2">Permanent</option>
                <option value="3">Period</option>
                <option value="4">Delete</option>
                <option value="5">Weekend</option>
                <option value="6">Daily</option>
                <option value="7">Workday</option>
                <option value="8">Monday</option>
                <option value="9">Tuesday</option>
                <option value="10">Wednesday</option>
                <option value="11">Thursday</option>
                <option value="12">Friday</option>
                <option value="13">Saturday</option>
                <option value="14">Sunday</option>
                <option value="Custom_Permanent">Custom Permanente</option>
                <option value="Custom_Period">Custom Period</option>
            </select>
        </p>
        <p *ngIf="selectedType === 'Custom_Permanent' || selectedType === 'Custom_Period' ">
            Contraseña de la Passcode
            <input type="text" class="form-input" name="passcodePwd" placeholder="Enter a password for this Passcode"
                required="required" ngModel />
        </p>
        <p *ngIf="selectedType !== '1' && selectedType !== '2' && selectedType !== '4' && selectedType !== 'Custom_Permanent' && selectedType !== ''">
            Fecha de inicio de la Passcode
            <mat-form-field appearance="fill">
                <mat-label>Fecha</mat-label>
                <input matInput [matDatepicker]="startDatePicker" name="startDate" placeholder="YYYY-MM-DD" required="required" ngModel>
                <mat-datepicker-toggle matSuffix [for]="startDatePicker"></mat-datepicker-toggle>
                <mat-datepicker #startDatePicker></mat-datepicker>
            </mat-form-field>

            Hora de inicio de la Passcode
            <mat-form-field appearance="fill">
                <mat-label>Hora</mat-label>
                <input matInput [ngxTimepicker]="startTimePicker" name="startHour" placeholder="HH:mm" required="required" [format]="24" ngModel>
            </mat-form-field>
            <ngx-material-timepicker #startTimePicker [hoursOnly]="true"></ngx-material-timepicker>
        </p>
        <p  *ngIf="selectedType !== '1' && selectedType !== '2' && selectedType !== '4' && selectedType !== 'Custom_Permanent' && selectedType !== ''">
            Fecha de finalización de la Passcode
            <mat-form-field appearance="fill">
                <mat-label>Fecha</mat-label>
                <input matInput [matDatepicker]="endDatePicker" name="endDate" placeholder="YYYY-MM-DD" required="required" ngModel>
                <mat-datepicker-toggle matSuffix [for]="endDatePicker"></mat-datepicker-toggle>
                <mat-datepicker #endDatePicker></mat-datepicker>
            </mat-form-field>

            Hora de finalización de la Passcode
            <mat-form-field appearance="fill">
                <mat-label>Hora</mat-label>
                <input matInput [ngxTimepicker]="endTimePicker" name="endHour" placeholder="HH:mm" required="required" [format]="24" ngModel>
            </mat-form-field>
            <ngx-material-timepicker #endTimePicker [hoursOnly]="true"></ngx-material-timepicker>
        </p>
        <button class="form-button" type="submit">Generar</button>
    </form>
</div>
