<div *ngFor="let passcode of passcodes">
    <ul>
        <li>Nombre de la passcode: {{passcode.keyboardPwdName}}</li>
        <li>Contraseña de la passcode: {{passcode.keyboardPwd}}</li>
        <!--
        -->
        <li *ngIf="passcode.keyboardPwdType==1">Tipo de la passcode: One-Time</li>
        <li *ngIf="passcode.keyboardPwdType==2">Tipo de la passcode: Permanent</li>
        <li *ngIf="passcode.keyboardPwdType==3">Tipo de la passcode: Timed</li>
        <li *ngIf="passcode.keyboardPwdType==4">Tipo de la passcode: Erase</li>
        <li *ngIf="passcode.keyboardPwdType==5">Tipo de la passcode: Weekend Cyclic</li>
        <li *ngIf="passcode.keyboardPwdType==6">Tipo de la passcode: Daily Cyclic</li>
        <li *ngIf="passcode.keyboardPwdType==7">Tipo de la passcode: Workday Cyclic</li>
        <li *ngIf="passcode.keyboardPwdType==8">Tipo de la passcode: Monday Cyclic</li>
        <li *ngIf="passcode.keyboardPwdType==9">Tipo de la passcode: Tuesday Cyclic</li>
        <li *ngIf="passcode.keyboardPwdType==10">Tipo de la passcode: Wednesday Cyclic</li>
        <li *ngIf="passcode.keyboardPwdType==11">Tipo de la passcode: Thursday Cyclic</li>
        <li *ngIf="passcode.keyboardPwdType==12">Tipo de la passcode: Friday Cyclic</li>
        <li *ngIf="passcode.keyboardPwdType==13">Tipo de la passcode: Saturday Cyclic</li>
        <li *ngIf="passcode.keyboardPwdType==14">Tipo de la passcode: Sunday Cyclic</li>
        <li>ID de la passcode: {{passcode.keyboardPwdId }}</li>
        <!--
            Para formatear de milisegundos a "YYYY MM DD HH"
            import moment from 'moment';

            let fecha = 1689876000000
            let x = moment(fecha).format("YYYY MM DD HH")
            console.log(x)
        -->
        <li>StartDate de la passcode: {{passcode.startDate }}</li>
        <li>EndDate de la passcode: {{passcode.endDate }}</li>
        <button (click)="this.passcodeService.deletePasscode(this.tokenData.access_token, this.lockId, passcode.keyboardPwdId)">Borrar Passcode</button>
        <button (click)="toggleEditar()">Editar Passcode</button>
        <div class="editarPasscode" *ngIf="displayEditar">
            <p>
                Nombre de la Passcode
                <input type="text" [(ngModel)]="passcodeName" name="passcodeName" placeholder="Enter the new name for this Passcode" required="" />
            </p>
            <p>
                Password de la Passcode
                <input type="text" [(ngModel)]="passcodePwd" name="passcodePwd" placeholder="Enter the new password for this Passcode" required="" />
                </p>
            <p>
                Start Time de la Passcode
                <input type="text" [(ngModel)]="passcodeStartTime" name="passcodeStartTime" placeholder="YYYY-MM-DD-HH" required="" />
            </p>
            <p>
                End Time de la Passcode
                <input type="text" [(ngModel)]="passcodeEndTime" name="passcodeEndTime" placeholder="YYYY-MM-DD-HH" required="" />
            </p>
            <button type="submit" (click)="this.passcodeService.changePasscode(passcode,this.tokenData.access_token,this.lockId,passcode.keyboardPwdId,passcodeName,passcodePwd,passcodeStartTime,passcodeEndTime)">Generar Passcode</button>
        </div>
    </ul>
    
</div>
<div class="generate-button">
    <button (click)="toggleDisplay()">Generar passcode</button>
</div>
<div class="elegir_tipo_clave" *ngIf="display">
    <button (click)="toggleForm1()">One-time (1)</button>
    <button (click)="toggleForm2()">Permanent (2)</button>
    <button (click)="toggleForm3()">Period (3)</button>
    <button (click)="toggleForm4()">Delete (4)</button>
    <button (click)="toggleForm5()">Weekend (5)</button>
    <button (click)="toggleForm6()">Daily (6)</button>
    <button (click)="toggleForm7()">Workday (7)</button>
    <button (click)="toggleForm8()">Monday (8)</button>
    <button (click)="toggleForm9()">Tuesday (9)</button>
    <button (click)="toggleForm10()">Wednesday (10)</button>
    <button (click)="toggleForm11()">Thursday (11)</button>
    <button (click)="toggleForm12()">Friday (12)</button>
    <button (click)="toggleForm13()">Saturday (13)</button>
    <button (click)="toggleForm14()">Sunday (14)</button>
    <button >Custom</button>
</div>

<div class="Forma1" *ngIf="displayForm1">
    <p>
    Nombre de la Passcode
    <input type="text" [(ngModel)]="passcodeName" name="passcodeName" placeholder="Enter a name for this Passcode" required="" />
    </p>
    <button type="submit" (click)="this.passcodeService.generatePasscode(this.tokenData.access_token, this.lockId, 1, passcodeName)">Generar Passcode</button>
</div>
<div class="Forma1" *ngIf="displayForm2">
    <p>
    Nombre de la Passcode
    <input type="text" [(ngModel)]="passcodeName" name="passcodeName" placeholder="Enter a name for this Passcode" required="" />
    </p>
    <button type="submit" (click)="this.passcodeService.generatePasscode(this.tokenData.access_token, this.lockId, 2, passcodeName)">Generar Passcode</button> 
</div>
<div class="Forma2" *ngIf="displayForm3">
    <p>
    Nombre de la Passcode
    <input type="text" [(ngModel)]="passcodeName" name="passcodeName" placeholder="Enter a name for this Passcode" required="" />
    </p>
    <p>
    Start Time de la Passcode
    <input type="text" [(ngModel)]="passcodeStartTime" name="passcodeStartTime" placeholder="YYYY-MM-DD-HH" required="required" />
    </p>
    <p>
    End Time de la Passcode
    <input type="text" [(ngModel)]="passcodeEndTime" name="passcodeEndTime" placeholder="YYYY-MM-DD-HH" required="required" />
    </p>
    <button type="submit" (click)="this.passcodeService.generatePasscode(this.tokenData.access_token, this.lockId, 3, passcodeName, passcodeStartTime, passcodeEndTime)">Generar Passcode</button>
</div>
<div class="Forma1" *ngIf="displayForm4">
    <p>
    Nombre de la Passcode
    <input type="text" [(ngModel)]="passcodeName" name="passcodeName" placeholder="Enter a name for this Passcode" required="" />
    </p>
    <button type="submit" (click)="this.passcodeService.generatePasscode(this.tokenData.access_token, this.lockId, 4, passcodeName)">Generar Passcode</button>
</div>
<div class="Forma2" *ngIf="displayForm5">
    <p>
    Nombre de la Passcode
    <input type="text" [(ngModel)]="passcodeName" name="passcodeName" placeholder="Enter a name for this Passcode" required="" />
    </p>
    <p>
    Start Time de la Passcode
    <input type="text" [(ngModel)]="passcodeStartTime" name="passcodeStartTime" placeholder="" required="required" />
    </p>
    <p>
    End Time de la Passcode
    <input type="text" [(ngModel)]="passcodeEndTime" name="passcodeEndTime" placeholder="" required="required" />
    </p>
    <button type="submit" (click)="this.passcodeService.generatePasscode(this.tokenData.access_token, this.lockId, 5, passcodeName, passcodeStartTime, passcodeEndTime)">Generar Passcode</button>
</div>
<div class="Forma2" *ngIf="displayForm6">
    <p>
    Nombre de la Passcode
    <input type="text" [(ngModel)]="passcodeName" name="passcodeName" placeholder="Enter a name for this Passcode" required="" />
    </p>
    <p>
    Start Time de la Passcode
    <input type="text" [(ngModel)]="passcodeStartTime" name="passcodeStartTime" placeholder="" required="required" />
    </p>
    <p>
    End Time de la Passcode
    <input type="text" [(ngModel)]="passcodeEndTime" name="passcodeEndTime" placeholder="" required="required" />
    </p>
    <button type="submit" (click)="this.passcodeService.generatePasscode(this.tokenData.access_token, this.lockId, 6, passcodeName, passcodeStartTime, passcodeEndTime)">Generar Passcode</button>
</div>
<div class="Forma2" *ngIf="displayForm7">
    <p>
    Nombre de la Passcode
    <input type="text" [(ngModel)]="passcodeName" name="passcodeName" placeholder="Enter a name for this Passcode" required="" />
    </p>
    <p>
    Start Time de la Passcode
    <input type="text" [(ngModel)]="passcodeStartTime" name="passcodeStartTime" placeholder="" required="required" />
    </p>
    <p>
    End Time de la Passcode
    <input type="text" [(ngModel)]="passcodeEndTime" name="passcodeEndTime" placeholder="" required="required" />
    </p>
    <button type="submit" (click)="this.passcodeService.generatePasscode(this.tokenData.access_token, this.lockId, 7, passcodeName, passcodeStartTime, passcodeEndTime)">Generar Passcode</button>
</div>
<div class="Forma2" *ngIf="displayForm8">
    <p>
    Nombre de la Passcode
    <input type="text" [(ngModel)]="passcodeName" name="passcodeName" placeholder="Enter a name for this Passcode" required="" />
    </p>
    <p>
    Start Time de la Passcode
    <input type="text" [(ngModel)]="passcodeStartTime" name="passcodeStartTime" placeholder="" required="required" />
    </p>
    <p>
    End Time de la Passcode
    <input type="text" [(ngModel)]="passcodeEndTime" name="passcodeEndTime" placeholder="" required="required" />
    </p>
    <button type="submit" (click)="this.passcodeService.generatePasscode(this.tokenData.access_token, this.lockId, 8, passcodeName, passcodeStartTime, passcodeEndTime)">Generar Passcode</button>
</div>
<div class="Forma2" *ngIf="displayForm9">
    <p>
    Nombre de la Passcode
    <input type="text" [(ngModel)]="passcodeName" name="passcodeName" placeholder="Enter a name for this Passcode" required="" />
    </p>
    <p>
    Start Time de la Passcode
    <input type="text" [(ngModel)]="passcodeStartTime" name="passcodeStartTime" placeholder="" required="required" />
    </p>
    <p>
    End Time de la Passcode
    <input type="text" [(ngModel)]="passcodeEndTime" name="passcodeEndTime" placeholder="" required="required" />
    </p>
    <button type="submit" (click)="this.passcodeService.generatePasscode(this.tokenData.access_token, this.lockId, 9, passcodeName, passcodeStartTime, passcodeEndTime)">Generar Passcode</button></div>
<div class="Forma2" *ngIf="displayForm10">
    <p>
    Nombre de la Passcode
    <input type="text" [(ngModel)]="passcodeName" name="passcodeName" placeholder="Enter a name for this Passcode" required="" />
    </p>
    <p>
    Start Time de la Passcode
    <input type="text" [(ngModel)]="passcodeStartTime" name="passcodeStartTime" placeholder="" required="required" />
    </p>
    <p>
    End Time de la Passcode
    <input type="text" [(ngModel)]="passcodeEndTime" name="passcodeEndTime" placeholder="" required="required" />
    </p>
    <button type="submit" (click)="this.passcodeService.generatePasscode(this.tokenData.access_token, this.lockId, 10, passcodeName, passcodeStartTime, passcodeEndTime)">Generar Passcode</button></div>
<div class="Forma2" *ngIf="displayForm11">
    <p>
    Nombre de la Passcode
    <input type="text" [(ngModel)]="passcodeName" name="passcodeName" placeholder="Enter a name for this Passcode" required="" />
    </p>
    <p>
    Start Time de la Passcode
    <input type="text" [(ngModel)]="passcodeStartTime" name="passcodeStartTime" placeholder="" required="required" />
    </p>
    <p>
    End Time de la Passcode
    <input type="text" [(ngModel)]="passcodeEndTime" name="passcodeEndTime" placeholder="" required="required" />
    </p>
    <button type="submit" (click)="this.passcodeService.generatePasscode(this.tokenData.access_token, this.lockId, 11, passcodeName, passcodeStartTime, passcodeEndTime)">Generar Passcode</button></div>
<div class="Forma2" *ngIf="displayForm12">
    <p>
    Nombre de la Passcode
    <input type="text" [(ngModel)]="passcodeName" name="passcodeName" placeholder="Enter a name for this Passcode" required="" />
    </p>
    <p>
    Start Time de la Passcode
    <input type="text" [(ngModel)]="passcodeStartTime" name="passcodeStartTime" placeholder="" required="required" />
    </p>
    <p>
    End Time de la Passcode
    <input type="text" [(ngModel)]="passcodeEndTime" name="passcodeEndTime" placeholder="" required="required" />
    </p>
    <button type="submit" (click)="this.passcodeService.generatePasscode(this.tokenData.access_token, this.lockId, 12, passcodeName, passcodeStartTime, passcodeEndTime)">Generar Passcode</button></div>
<div class="Forma2" *ngIf="displayForm13">
    <p>
    Nombre de la Passcode
    <input type="text" [(ngModel)]="passcodeName" name="passcodeName" placeholder="Enter a name for this Passcode" required="" />
    </p>
    <p>
    Start Time de la Passcode
    <input type="text" [(ngModel)]="passcodeStartTime" name="passcodeStartTime" placeholder="" required="required" />
    </p>
    <p>
    End Time de la Passcode
    <input type="text" [(ngModel)]="passcodeEndTime" name="passcodeEndTime" placeholder="" required="required" />
    </p>
    <button type="submit" (click)="this.passcodeService.generatePasscode(this.tokenData.access_token, this.lockId, 13, passcodeName, passcodeStartTime, passcodeEndTime)">Generar Passcode</button>
</div>
<div class="Forma2" *ngIf="displayForm14">
    <p>
    Nombre de la Passcode
    <input type="text" [(ngModel)]="passcodeName" name="passcodeName" placeholder="Enter a name for this Passcode" required="" />
    </p>
    <p>
    Start Time de la Passcode
    <input type="text" [(ngModel)]="passcodeStartTime" name="passcodeStartTime" placeholder="" required="required" />
    </p>
    <p>
    End Time de la Passcode
    <input type="text" [(ngModel)]="passcodeEndTime" name="passcodeEndTime" placeholder="" required="required" />
    </p>
    <button type="submit" (click)="this.passcodeService.generatePasscode(this.tokenData.access_token, this.lockId, 14, passcodeName, passcodeStartTime, passcodeEndTime)">Generar Passcode</button>    
</div>

