<div *ngFor="let ekey of ekeys">
    <ul>
        <li>Nombre de la Ekey: {{ekey.keyName}}</li>
        <li>ID de la Ekey: {{ekey.keyId}}</li>
        <li *ngIf="ekey.keyStatus=='110401'">
            Status de la Ekey: Normal
            <button (click)="this.ekeyService.freezeEkey(this.tokenData.access_token, ekey.keyId)">Congelar Ekey</button>
        </li>
        <li *ngIf="ekey.keyStatus=='110402'">Status de la Ekey: Pending</li>
        <li *ngIf="ekey.keyStatus=='110405'">
            Status de la Ekey: Freezed
            <button (click)="this.ekeyService.unfreezeEkey(this.tokenData.access_token, ekey.keyId)">Descongelar Ekey</button>
        </li>
        <li *ngIf="ekey.keyStatus=='110408'">Status de la Ekey: Deleted</li>
        <li *ngIf="ekey.keyStatus=='110410'">Status de la Ekey: Reseted</li>
        <!--<li [innerHTML]="ekey.username | texttransform" >Usuario al que le pertenece la Ekey: {{ekey.username}}</li>-->
        <li *ngIf="ekey.keyRight==1">
            El usuario {{ekey.username}} esta autorizado para administrar esta Ekey
            <button type="submit" (click)="this.ekeyService.cancelAuthorizeEkey(this.tokenData.access_token, this.lockId, ekey.keyId)">Quitar autorización de administrador</button>
        </li>
        <li *ngIf="ekey.keyRight==0">
            El usuario {{ekey.username}} no está autorizado para administrar esta Ekey
            <button type="submit" (click)="this.ekeyService.AuthorizeEkey(this.tokenData.access_token, this.lockId, ekey.keyId)">Dar autorización de administrador</button>
        </li>
        <button (click)="this.ekeyService.deleteEkey(this.tokenData.access_token, ekey.keyId)">Borrar Ekey</button>
        
        
        
        
        <button (click)="this.toggleModificar()">Modificar Ekey</button>
        <div *ngIf="displayModificar">
            <p>
            Nombre de la Ekey
            <input type="text" [(ngModel)]="keyName" name="keyName" placeholder="Enter the new name for this Ekey" required="" />
            </p>
            <p>
            remoteEnable de la Ekey
            <input type="text" [(ngModel)]="remoteEnable" name="remoteEnable" placeholder="Enter the new remote for this Ekey" required="" />
            </p>
            <button type="submit" (click)="this.ekeyService.modifyEkey(this.tokenData.access_token, ekey.keyId, keyName, remoteEnable)">Confirmar cambios</button>
        </div>
    </ul>
</div>
<div class="generate-button">
    <button (click)="toggleSend()">Send Ekey</button>
</div>
<div *ngIf="displaySend">
    <p>
        Nombre de la Recipiente
        <input type="text" [(ngModel)]="recieverName" name="recieverName" placeholder="Enter the name of the reciever" required="required" />
        </p>
        <p>
        Nombre de la Ekey
        <input type="text" [(ngModel)]="keyName" name="keyName" placeholder="Enter the name for this Ekey" required="required" />
        </p>
        <p>
        StartDate de la Ekey
        <input type="text" [(ngModel)]="ekeyStartTime" name="ekeyStartTime" placeholder="YYYY-MM-DD-HH" required="required" />
        </p>
        <p>
        EndDate de la Ekey
        <input type="text" [(ngModel)]="ekeyEndTime" name="ekeyEndTime" placeholder="YYYY-MM-DD-HH" required="required" />
        </p>
        <button type="submit" (click)="this.ekeyService.sendEkey(this.tokenData.access_token, this.lockId, recieverName, keyName, ekeyStartTime, ekeyEndTime)">Confirmar cambios</button>
</div>
