.form-area {
  text-align: center;
  margin-top: 50px;
}

.common-form {
  display: flex;
  flex-direction: column;
  width: 500px;
  margin: auto;
  gap: 10px;
}

.linea {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 20px;
}

.linea label {
  padding: 8px;
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  border-radius: 4px;
  cursor: pointer;
}

.input-container {
  display: flex;
  flex-direction: row;
  gap: 10px;
  justify-content: space-between;
  width: 600px;
}

.form-input {
  height: 35px;
  margin-bottom: 20px;
  border: 1px, solid black;
  padding-left: 15px;
}

.form-button {
  height: 35px;
  width: 25%;
  align-self: center;
  border: 1px, solid black;
  background-color: #f9c114;;
  cursor: pointer;
}

.error {
  color: red;
}
