<div class="pagina_completa">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a [routerLink]="['/users', accountname]">Mis Dispositivos</a></li>
      <li class="breadcrumb-item active" aria-current="page">Perfil de la Cuenta</li>
    </ol>
  </nav>
  <div class="resto" *ngIf="dataLoaded">
    <div class="linea">
      <div class="titulo">
        Cuenta
      </div>
      <div class="content">
        {{originalusername}}
      </div>
      <div class="-button">
        
      </div>
    </div>
    <div class="linea">
      <div class="titulo">
        nickname
      </div>
      <div class="content">
        {{nickname}}
      </div>
      <div class="-button">
        <button (click)="cambiarNickname()">Editar</button>
      </div>
    </div>
    <div class="linea">
      <div class="titulo">
        Email
      </div>
      <div class="content">
        {{email}}
      </div>
      <div class="-button">
        <button *ngIf="!email">Enlazar</button>
      </div>
    </div>
    <div class="linea">
      <div class="titulo">
        Teléfono
      </div>
      <div class="content">
        {{phone}}
      </div>
      <div class="-button">
        <button *ngIf="!phone">Enlazar</button>
      </div>
    </div>
    <div class="linea">
      <div class="titulo">
        Contraseña
      </div>
      <div class="content">
        <span class="password-input">
          {{ showPassword ? password : maskPassword(password) }}
        </span>
        <button (click)="togglePasswordVisibility()">
          <span class="password-icon" [class.visible]="showPassword" [class.hidden]="!showPassword">
            <fa-icon [icon]="showPassword ? faEye : faEyeSlash"></fa-icon>
          </span>
        </button>
      </div>
      <div class="-button">
        <button (click)="resetPassword()">Cambiar</button>
      </div>
    </div>
  </div>
</div>
<app-pop-up *ngIf="this.popupService.resetPassword || this.popupService.wrongAccountType || this.popupService.changeNickname" style="z-index: 10;"></app-pop-up>