.breadcrumb {
  background-color: white;
  margin: 30px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 20px;
}
.resto {
  margin: 30px;
  padding: 20px;
  background-color: white;
  width: 50%;
}

.linea {
  display: flex;
  border-bottom: 0.5px solid rgb(211, 211, 211);
  margin-bottom: 30px;
  padding-bottom: 30px;
}

.titulo {
  width: 25%;
}

.content {
  width: 50%;
  padding-left: 10px;
}

.-button {
  width: 25%;
  display: flex;
  justify-content: flex-end;
}

button {
  border: 0px;
  background-color: white;
  color: blue;
}

.password-icon {
  font-size: 1.2rem;
}

.visible {
  color: #007bff;
}

.hidden {
  color: #6c757d;
}