<div class="pagina_completa">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a [routerLink]="['/users', username]">Mis Dispositivos</a></li>
            <li class="breadcrumb-item"><a [routerLink]="['/users', username, 'lock', lockId]">Informacion sobre la Cerradura</a></li>
            <li class="breadcrumb-item active" aria-current="page">Transferir Dispositivo</li>
        </ol>
    </nav>
    <div class="resto">
        <div class="form-area">
            <form #formInput="ngForm" class="common-form">
                <div class="linea_alternative">
                    Cuenta de Destinatario
                    <span class="input-container">
                        <input type="text" class="form-input" name="recieverUsername" [(ngModel)]="recieverUsername"
                            required="" />
                    </span>
                </div>
                <div class="form-button">
                    <button type="submit" (click)="transferir()">Transferir</button>
                </div>
            </form>
        </div>
    </div>
</div>