.breadcrumb {
  background-color: white;
  margin: 35px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 20px;
}

.form-area {
  text-align: center;
  margin-top: 50px;
}

.common-form {
  display: flex;
  flex-direction: column;
  width: 600px;
  margin: auto;
}

.linea_alternative {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 10px;
}

.input-container {
  display: flex;
  flex-direction: row;
  gap: 10px;
  justify-content: center;
}

.form-button {
    padding: 15px;
}

button {
    padding: 10px 40px;
    background-color: #f9c114;
    border: 0px;
    color: black;
    font-size: 18px;
    cursor: pointer;
    width: 50%;
  }
