<div class="linea">
    <div>
        Modo de Paso
    </div>
    <div>
        <mat-slide-toggle [(ngModel)]="isPassageModeToggleOn" (change)="onPassageModeToggleChange($event)"></mat-slide-toggle>
    </div>
</div>
<div *ngIf="isPassageModeToggleOn" class="linea">
    <form #formInput="ngForm" class="common-form">
        <div>
            En estos días
        </div>
        <div class="checkbox-group">
            <div *ngFor="let day of weekDays">
                <label>
                    <input type="checkbox" name="selectedDays" value="day.value" [checked]="day.checked" (change)="onCheckboxChange($event, day)"/>
                    {{ day.name }}
                </label>
            </div>
        </div>
    </form>
</div>
<div *ngIf="isPassageModeToggleOn" class="linea">
    <div>
        Todas las Horas
    </div>
    <div>
        <mat-slide-toggle [(ngModel)]="isAllHoursToggleOn" name="isAllHoursToggleOn" (change)="onAllHoursToggleChange($event)"></mat-slide-toggle>
    </div>
</div>
<div *ngIf="!isAllHoursToggleOn && isPassageModeToggleOn" class="linea">
    <div>
        Periodo
    </div>
    <div>
        <mat-form-field appearance="fill">
            <mat-label>Hora</mat-label>
            <input matInput [ngxTimepicker]="startTimePicker" name="startHour" placeholder="HH:mm"
                required="required" [format]="24" [(ngModel)]="startHour" />
        </mat-form-field>
        <ngx-material-timepicker #startTimePicker></ngx-material-timepicker>
    </div>
    <div>
        <mat-form-field appearance="fill">
            <mat-label>Hora</mat-label>
            <input matInput [ngxTimepicker]="endTimePicker" name="endHour" placeholder="HH:mm"
                required="required" [format]="24" [(ngModel)]="endHour" />
        </mat-form-field>
        <ngx-material-timepicker #endTimePicker></ngx-material-timepicker>
    </div>
</div>
<button class="form-button" type="submit" (click)="cambiarPassageMode()">Guardar</button>
