<div class="sidebar">
    <ul class="lista-grupos">
        <li>
            <span [ngClass]="{'selected': selectedGroup === 'Todos'}" (click)="selectGroup('Todos')">Todos</span>
        </li>
        <li *ngFor="let group of groupService.groups">
            <span [ngClass]="{'selected': selectedGroup === group.groupName}" (click)="selectGroup(group.groupName)">{{group.groupName}}</span>
        </li>
    </ul>
    <div class="boton-grupos">
        <span>Grupos de Cerraduras</span>
    </div>
</div>
