.breadcrumb {
    background-color: white;
    margin: 30px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 20px;
  }
  
  .resto {
    margin-left: 30px;
    margin-right: 30px;
  }

  .contenido {
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 20px;
  }

  .button-container {
    display: flex;
    justify-content: flex-end;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  
  .button-container button {
    background-color: #ffdd78;
    border-radius: 10px;
    border: solid 1px black;
  }

  .table {
    table-layout: fixed;
    width: 80%;
    border-collapse: collapse;
  }
  
  .table-cell {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }