<!--   <h2>Lista de Usuarios</h2>
<ul class="users">
    <li *ngFor="let usuario of listaUsuarios">
        <button [class.selected]=" usuario === selectedUsuario" type="button" (click)="OnSelect(usuario)">
            <span class="badge">
                <a [routerLink]="['/users/', usuario.userid]">{{usuario.nombre}}</a>
                
            </span>
        </button>

    </li>
</ul>
-->

<h1>Muestra la lista de usuarios desde el API</h1>
<table border="1">
    <tr>
        <td>Regtime</td>
        <td>UserId</td>
        <td>Username</td>
    </tr>
    
    
</table>