<div class="listado_objetos">
  <div *ngIf="ekeyList">
    <mat-grid-list cols="3" rowHeight="150px">
      <mat-grid-tile *ngFor="let lock of ekeyList.list">
        <div *ngIf="hasValidAccess(lock)===true">
          <mat-card class="lock" (click)="onLockButtonClick(lock)">
            <mat-card-header>
              <div class="title-wrapper">
                <mat-card-title class="lock-title"> {{ lock.lockAlias }} </mat-card-title>
                <div class="bateria_cerradura">
                  <div class="icono_bateria">
                    <!--BATERIA 4/4-->
                    <div *ngIf="lock.electricQuantity > 90 || lock.electricQuantity == 90" [ngStyle]="{color: 'green'}">
                      <fa-icon [icon]="faBatteryFull"></fa-icon>
                    </div>
                    <!--BATERIA 3/4-->
                    <div *ngIf="lock.electricQuantity < 90 && lock.electricQuantity > 60 || lock.electricQuantity == 60" [ngStyle]="{color: 'green'}">
                      <fa-icon [icon]="faBatteryThreeQuarters"></fa-icon>
                    </div>
                    <!--BATERIA 2/4-->
                    <div *ngIf="lock.electricQuantity < 60 && lock.electricQuantity > 40 || lock.electricQuantity == 40" [ngStyle]="{color: 'green'}">
                      <fa-icon [icon]="faBatteryHalf"></fa-icon>
                    </div>
                    <!--BATERIA 1/4-->
                    <div *ngIf="lock.electricQuantity < 40 && lock.electricQuantity > 0" [ngStyle]="{color: 'red'}">
                      <fa-icon [icon]="faBatteryQuarter"></fa-icon>
                    </div>
                    <!--BATERIA '0/4'-->
                    <div *ngIf="lock.electricQuantity == 0" [ngStyle]="{color: 'red'}">
                      <fa-icon [icon]="faBatteryEmpty"></fa-icon>
                    </div>
                  </div>
                  <div class="numero_bateria"> {{lock.electricQuantity}}% </div>
                  <div class="hasGateway" *ngIf="lock.hasGateway">
                    <fa-icon style="color: rgb(56, 206, 56);" [icon]="faWifi"></fa-icon>
                  </div>
                </div>
              </div>
            </mat-card-header>
          </mat-card>
        </div>
        <div *ngIf="hasValidAccess(lock)===false">
          <mat-card class="invalid-lock" (click)="onInvalidButtonClick()">
            <mat-card-header>
              <div class="title-wrapper">
                <mat-card-title class="lock-title"> {{ lock.lockAlias }} </mat-card-title>
                <div class="bateria_cerradura">
                  <div class="icono_bateria">
                    <!--BATERIA 4/4-->
                    <div *ngIf="lock.electricQuantity > 90 || lock.electricQuantity == 90" [ngStyle]="{color: 'green'}">
                      <fa-icon [icon]="faBatteryFull"></fa-icon>
                    </div>
                    <!--BATERIA 3/4-->
                    <div *ngIf="lock.electricQuantity < 90 && lock.electricQuantity > 60 || lock.electricQuantity == 60" [ngStyle]="{color: 'green'}">
                      <fa-icon [icon]="faBatteryThreeQuarters"></fa-icon>
                    </div>
                    <!--BATERIA 2/4-->
                    <div *ngIf="lock.electricQuantity < 60 && lock.electricQuantity > 40 || lock.electricQuantity == 40" [ngStyle]="{color: 'green'}">
                      <fa-icon [icon]="faBatteryHalf"></fa-icon>
                    </div>
                    <!--BATERIA 1/4-->
                    <div *ngIf="lock.electricQuantity < 40 && lock.electricQuantity > 0" [ngStyle]="{color: 'red'}">
                      <fa-icon [icon]="faBatteryQuarter"></fa-icon>
                    </div>
                    <!--BATERIA '0/4'-->
                    <div *ngIf="lock.electricQuantity == 0" [ngStyle]="{color: 'red'}">
                      <fa-icon [icon]="faBatteryEmpty"></fa-icon>
                    </div>
                  </div>
                  <div class="numero_bateria"> {{lock.electricQuantity}}% </div>
                  <div class="hasGateway" *ngIf="lock.hasGateway">
                    <fa-icon style="color: rgb(56, 206, 56);" [icon]="faWifi"></fa-icon>
                  </div>
                </div>
              </div>
            </mat-card-header>
          </mat-card>
        </div>
      </mat-grid-tile>
    </mat-grid-list>
  </div>
</div><!---->
<app-pop-up *ngIf="this.popupService.invalidLock"></app-pop-up>