<div class="Perfil">
    <div class="Titulo">TU PERFIL</div>
    <div *ngIf="tokenData">
    <div>ID del usuario: {{tokenData.uid}}</div>
    <div>Access Token del usuario: {{tokenData.access_token}}</div>
    <div>Nombre del usuario: {{username}}</div>
    <div>Contraseña del Usuario: {{password}} </div>
    <button type="submit" (click)="ToggleDisplay()">Cambiar Contraseña</button>
    <div *ngIf="newPasswordDisplay">
        <input type="password" [(ngModel)]="newPassword" name="newPassword" placeholder="Nueva Contraseña" required="required" />
        <button type="submit" (click)="cambiarPass(username,newPassword)">Cambiar</button>
    </div>
    <button type="submit" (click)="Eliminar()">Borrar Usuario</button>
    </div>
</div>
<div class="Chapas">
    <div class="Titulo">
        <h1>TU COLECCION DE CHAPAS</h1>
        <div *ngIf="locksList">
            <div class="Info_Chapa" *ngFor="let lock of locksList.list">
                <button (click)="onLockButtonClick(lock)">
                    <div>Alias de la chapa: {{lock.lockAlias}}</div>
                    <div>ID de la chapa: {{lock.lockId}}</div>
                    <div>Nombre de la chapa: {{lock.lockName}}</div>
                    <div>Contraseña Maestra de la chapa: {{lock.noKeyPwd}}</div>
                </button>
            </div>
          </div>
    </div>
    
</div><!---->