.Titulo {
  text-align: center;
}

.listado_objetos {
  background-color: rgb(219, 219, 219);
  margin: 20px;
  border-style: solid;
  border-color: black;
  border-width: 2px;
}

.display_objeto {
  margin: 10px;
  background-color: white;
}

.display_objeto button {
  width: 100%;
  height: 100px;
}
