app-pop-up {
  z-index: 9999;
}

.info_cerradura {
  display: flex;
  align-items: baseline;
}

.info_cerradura div {
  margin-left: 15px;
}

.nombre_cerradura {
  font-size: xx-large;
  font-weight: bold;
}

.bateria_cerradura {
  display: flex;
}

.rol_usuario {
  margin-left: 30px;
  color: rgb(160, 156, 156);
  font-size: medium;
}

.tablist {
  margin: 20px;
}

.mat-mdc-tab-group.mat-background-primary,
.mat-mdc-tab-nav-bar.mat-background-primary {
  --mat-tab-header-with-background-background-color: #f9c114;
  --mat-tab-header-with-background-foreground-color: black;
}

.mat-mdc-tab-group.mat-warn, .mat-mdc-tab-nav-bar.mat-warn {
  --mdc-tab-indicator-active-indicator-color: #0b0ebe; /* Custom text color for unselected tab */
  --mat-tab-header-active-label-text-color: #0b0ebe;
  --mat-tab-header-active-focus-label-text-color: #0b0ebe;
  --mat-tab-header-active-focus-indicator-color: #0b0ebe;
}

.table {
  table-layout: fixed;
  width: 80%;
  border-collapse: collapse;
}

.table-cell {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

.col {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  align-items: center;
}

.form-area {
  text-align: center;
}

.common-form {
  display: flex;
  flex-direction: column;
  width: 300px;
  margin: auto;
}

.form-input {
  height: 35px;
  margin-bottom: 20px;
  border: 1px, solid black;
  padding-left: 15px;
}

.form-button {
  height: 35px;
  border: 1px, solid black;
  cursor: pointer;
}

.button-container {
  display: flex;
  justify-content: flex-end;
  margin-top: 10px;
  margin-bottom: 10px; /* Add some space below the button */
}

.space-divider {
  margin-top: 10px;
  margin-bottom: 40px;
}
